/* Estilização geral */
#board {
  display: grid;
  width: min-content !important; /* Ajusta o tamanho do grid conforme o conteúdo */
  grid-template-columns: repeat(
    3,
    175px
  ); /* Cada célula menor para o estilo pixel-art */
  grid-template-rows: repeat(3, 175px);
  gap: 0; /* Sem espaço entre as células */
  margin-right: 0;
}

.cell {
  border: 5px solid #efdebb; /* Bordas grossas para o visual pixelado */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em; /* Fonte grande para o estilo retrô */
  color: #efdebb; /* Cor do texto para contraste */
  transition: background-color 0.2s ease-in-out;
}

.cell:hover {
  cursor: pointer; /* Mostra que a célula é interativa */
}

/* Remove as bordas externas */
.cell:nth-child(-n + 3) {
  /* Primeira linha */
  border-top: none;
}
.cell:nth-child(3n) {
  /* Células à direita */
  border-right: none;
}
.cell:nth-child(3n + 1) {
  /* Células à esquerda */
  border-left: none;
}
.cell:nth-child(n + 7) {
  /* Última linha */
  border-bottom: none;
}

/* Painel de informações */
#info-painel {
  display: flex;
  margin-right: 0;
  background: #e9881e;
  color: #112736;
  padding: 20px;
  border-radius: 10px;
  width: 525px;
  flex-direction: column;
  gap: 20px;
  justify-content: left;

  h3 {
    width: 100%;
    justify-content: center;
  }
}

.btn-primary {
  border-radius: 0;
  width: 45%;
  background-color: #112736 !important;
}

.btn-primary:hover {
  background-color: #c3332d !important;
  color: #f8bc63 !important;
}

.imagem-x-game {
  position: flex;
  width: 100px;
  margin-bottom: 0;
}
.imagem-o-game {
  position: flex;
  width: 100px;
  margin-bottom: 0;
}

/* Generic Styles */
.mt-100 {
  margin-top: 100px;
}
