.sing-up-container {
  padding: 1.5rem;
  margin-top: 1.5em;
  background-color: #efdebb;
  border-radius: 20px;
  box-shadow: 0 0 10px #efdebb;
  color: #c3332d;
}

.form-control {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

.btn-primary {
  border-radius: 0;
  width: 100%;
  background-color: #c3332d !important;
}

.btn-primary:hover {
  background-color:  #112736!important;
  color: #f8bc63 !important;
}

.text-decoration-none {
  color: #112736;
}

.text-decoration-none:hover {
  color: #c3332d;
}

#singUpForm {
  text-align: start;
}